.input {
    padding: 5px;
    margin-bottom: 20px;
    width: 470px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.textarea {
    padding: 5px;
    margin-bottom: 20px;
    width: 470px;
    height: 100px;
    border: 2px solid lightgray;
    border-radius: 5px;
    resize: none;
}

.checkbox {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

.checkbox input {
    width: 20px;
}